:root {
    --gray: #d9dddf;
    --content_padding: 15px; 
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.hidden {
    display: none;
}

.border-gray {
    border-color: var(--gray);
}

a:hover {
    color: var(--orange);
    text-decoration: none;
}

.active a {
    color: var(--orange);
    font-weight: bold;
}

#left-nav {
    height: 100%;
    margin-bottom: 10px;
}

#left-nav ul li {
    padding-top: 5px;
}

#left-nav ul li.ruled {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-bottom-color: var(--gray);
}

.card-title {
    margin-bottom: 0px !important;
}

.img-thumbnail {
    max-height: 200px;
    border: 0px;
}

p.description {
    margin-top: var(--content_padding);
}

div.product-tile {
    margin: 10px 0px 10px 0px !important;
    padding: 15px 0px 15px 0px !important;
}

div.double-top-padding {
    padding-top: 30px;
}

nav ol.breadcrumb {
    background-color: transparent;
    padding: 0px;
}

tbody tr td a {
    color: white;
}

tbody tr td a:hover {
    color: rgb(245, 245, 245);
}

h5.top-bottom-padding {
    padding-top: 20px;
    padding-bottom: 10px;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9dddf' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9dddf' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

