{% from "macros.html" import render_pagination %}
{% extends "left_navigation_base.html" %}

{% block content %}
    {% for product in products %}
        <div><a href="{{ url_for('render_offers', category=categories[category_id]['normalized_title'], product=product['normalized_title'], id=product['productId']) }}">{{ product["title"] }}</a></div>
        <div>{{ product["min_price"] }} - {{ product["max_price"] }}</div>
        <div>{{ product["img_url"] }}</div>
        <div>{{ product["description"] }}</div>
        <hr/>
    {% endfor %}
    {{ render_pagination(pagination, id=category_id) }}
{% endblock %}